<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhAwDwDYhQ4b8KdmAnx_WJ1ZBeHv8hfro</string>
	<key>GCM_SENDER_ID</key>
	<string>1062069250421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.magangproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>magangproject-48d71</string>
	<key>STORAGE_BUCKET</key>
	<string>magangproject-48d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062069250421:ios:73b0f439bb24c4ca428b3c</string>
</dict>
</plist>